<div *ngIf="isLoading; else loaded">loading...</div>
<ng-template #loaded>
  <div *ngIf="userModel; else error">
    <div><b>Benutzername: </b>{{ userModel.username }}</div>
    <div><b>Nachname: </b>{{ userModel.lastname }}</div>
    <div><b>Vorname: </b>{{ userModel.firstname }}</div>
    <button (click)="logout()">Abmelden</button>
  </div>
</ng-template>
<ng-template #error>
  Userdaten konnten nicht geladen werden, bitte versuche neu zu Laden. Falls das
  nicht funktioniert melde dich ab und log dich neu ein.
  <button (click)="logout()">Abmelden</button>
</ng-template>
