<div class="grid-container">
  <h1>Konzerte</h1>
  <div *ngIf="isLoading; else loaded">loading...</div>
  <ng-template #loaded>
    <div *ngIf="concerts.length == 0">Keine Konzertvorschläge vorhanden</div>
    <div *ngFor="let concert of concerts">
      <app-concert-item
        showUser="true"
        [concertModel]="concert"
      ></app-concert-item>
    </div>
  </ng-template>
  <ng-template #loaded>
    <div *ngIf="!concerts || concerts.length == 0">
      Keine Konzertvorschläge vorhanden
    </div>
    <div *ngFor="let concert of concerts">
      <app-concert-item concertModel="{{ concert }}"></app-concert-item>
    </div>
  </ng-template>
</div>
