<div *ngIf="artistModel">
  <div class="concert-container">
    <div>
      <b>{{ concertModel.displayname }}</b>
      <p>{{ concertModel.startDateTime }}</p>
      <div *ngIf="authService.isLoggedIn()">
        <button [disabled]="hasUserBoughtTickets" (click)="buyTicket()">
          Buy tickets
        </button>
      </div>
    </div>
    <img src="{{ concertModel.artworkUrl }}" class="concert-image" />
    <div *ngIf="showUser == true" class="artist-image-small-container">
      <a href="/artists/{{ concertModel.artistId }}">
        <img
          src="{{ artistModel.avatar }}"
          alt="artist image"
          class="artist-image-small"
        />
      </a>
    </div>
  </div>
</div>
