<form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
    <div>
        <label for="email">
        E-Mail Adresse
        </label>
        <input id="email" type="email" formControlName="email">
      </div>
    
      <div>
        <label for="username">
            Benutzername
        </label>
        <input id="username" type="text" formControlName="username">
      </div>

      <div>
        <label for="password">
            Passwort
        </label>
        <input id="password" type="password" formControlName="password">
      </div>
    
    <button class="button" type="submit">Register</button>
  </form>