name: Build and deploy Node.js app to Azure Web App

on: push

defaults:
  run:
    working-directory: ./stagifyfrontend

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
      with:
        lfs: true

    - name: Set up Node.js version
      uses: actions/setup-node@v1
      with:
        node-version: '12.13.0'

    - name: npm install and build
      run: |
        npm install
        npm run build -- --prod

    - name: npm test
      run: |
        npm run test -- --watch=false --browsers ChromeHeadless

    - name: Upload artifact
      if: github.ref == 'refs/heads/master'
      uses: actions/upload-artifact@v2
      with:
        name: stagifyfrontend
        path: ./stagifyfrontend/dist/stagifyfrontend

  deploy:
    runs-on: windows-latest
    needs: build
    if: github.ref == 'refs/heads/master'
    steps:
    - name: Download artifact
      uses: actions/download-artifact@v2
      with:
        name: stagifyfrontend
        path: './stagifyfrontend'
    
    - name: 'Deploy to Azure Web App'
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'stagifyapp'
        publish-profile: ${{ secrets.AZURE_WEBAPP_FRONTEND_PUBLISH_PROFILE }}
        package: './stagifyfrontend'
