name: Build and deploy Django app to Azure Web App

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master

    - uses: actions/setup-python@v1
      with:
        python-version: '3.8.x' 
        architecture: 'x64'

    - name: Build using AppService-Build
      uses: azure/appservice-build@v1
      with:
        platform: python
        platform-version: '3.8'
        source-directory: './stagifyapi'

    - name: Run tests
      run: |
        python ./stagifyapi/manage.py test

    - uses: montudor/action-zip@v0.1.1
      if: github.ref == 'refs/heads/master'
      with:
        args: zip -qq -r artifact.zip ./stagifyapi -x **/__pycache__

    - name: Upload artifact
      if: github.ref == 'refs/heads/master'
      uses: actions/upload-artifact@v2
      with:
        name: stagifyapi
        path: artifact.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/master'
    steps:
    - name: Download artifact
      uses: actions/download-artifact@v2
      with:
        name: stagifyapi
        path: '.'

    - uses: montudor/action-zip@v0.1.1
      with:
        args: unzip -qq artifact.zip -d .

    - name: 'Deploy to Azure Web App'
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'stagifyapi'
        publish-profile: ${{ secrets.AZURE_WEBAPP_API_PUBLISH_PROFILE }}
        package: './stagifyapi'